<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="info"
      internalLogFile="logs\internal-nlog.txt">

  <variable name="ExceptionFormat"
            value="${exception:format=type,message,method,stacktrace:maxInnerExceptionLevel=5:innerFormat=type,message,method,stacktrace}" />

  <variable name="DefaultLayout"
            value="${longdate} [${threadid}][${callsite:includeNamespace=false:fileName=true:includeSourcePath=false:cleanNamesOfAnonymousDelegates=true}] ${level:upperCase=true}: ${message} ${ExceptionFormat}" />

  <!-- the targets to write to -->
  <targets>

    <target name="DefaultFileTarget"
            xsi:type="File"
            fileName="logs\current.log"
            layout="${DefaultLayout}"/>

    <target name="DefaultConsoleTarget"
            xsi:type="ColoredConsole"
            layout="${DefaultLayout}"
            useDefaultRowHighlightingRules="false">
      <highlight-row condition="level == LogLevel.Trace" foregroundColor="DarkGray" />
      <highlight-row condition="level == LogLevel.Debug" foregroundColor="Gray" />
      <highlight-row condition="level == LogLevel.Info" foregroundColor="White" />
      <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
      <highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
      <highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" />
    </target>

  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <logger name="*" minlevel="Trace" writeTo="DefaultFileTarget" />
    <logger name="*" minlevel="Trace" writeTo="DefaultConsoleTarget" />
  </rules>
</nlog>