<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="uploadConfig" type="ConsoleApp1.UploadSection, ConsoleApp1" />
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>

  <uploadConfig url="http://localhost:5000/api/values/upload">
    <add name="file1" path="pathToLargeFile1"/>
    <add name="file2" path="pathToLargeFile2"/>
  </uploadConfig>

</configuration>